<form [formGroup]="creatForm" class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" style="text-align: center;">Creat Form</h3>
        </div>
        <div class="row">

            <div class="form-group" class="col-sm-6">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" formControlName="firstname" id="firstname"
                    placeholder="Enter First Name"
                    [ngClass]="{ 'is-invalid': submitted && creatForm.controls.firstname.errors }">
                <div *ngIf="submitted && creatForm.controls.firstname.errors" class="text-danger">
                    <div *ngIf="creatForm.controls.firstname.errors.required">
                        FullName is required
                    </div>
                </div>
                <div class="form-group" class="col-sm-6">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" formControlName="lastname" id="lastname"
                        placeholder="Enter Last Name">
                </div>
                <div class="form-group" class="col-sm-6">
                    <label for="email">Email Id</label>
                    <input type="email" class="form-control" formControlName="email" id="email"
                        placeholder="Enter Email Id">
                </div>
                <div class="form-group" class="col-sm-6">
                    <label for="phone">Contact</label>
                    <input type="number" class="form-control" formControlName="phone" id="phone"
                        placeholder="Enter Phone Number">
                </div>
                <div class="col-sm-12" style="text-align: center;">
                    <button type="submit" (click)="postEmployeeData()" class="btn btn-primary">Submit</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>

            </div>
        </div>
</form>
<br>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>First</th>
                <th>Last</th>
                <th>Email</th>
                <th>phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of employee">
                <td>{{e.id}}</td>
                <td>{{e.firstname}}</td>
                <td>{{e.lastname}}</td>
                <td>{{e.email}}</td>
                <td>{{e.phone}}</td>
                <td><button class="btn btn-success">Edit</button></td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>