<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div>
                <a class="navbar-brand" href="#">Employee Form </a>
            </div>
            <ul class="nav navbar-nav" class="form-inline">
                <li>
                    <a class="navbar-brand" routerLink="form">FORM</a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<router-outlet></router-outlet>